<div class="content">
    <div class="left">
        <p class="title"><img src="/src/public/img/logpsp.png" height= "50"; align="middle"> Sư phạm Đà Nẵng Confession</p>
        <h1>A new way to find your home</h1>
        <p class="introduce">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit ex odio blanditiis, a nam dolor ut, eaque accusamus facilis autem natus, assumenda iste. Laudantium numquam inventore provident ducimus consequatur vel.</p>
        <button class="guibieumau">Let's find</button>
        <div class="social">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-telegram-plane"></i>
        </div>
    </div>
    <div class="right">
        <img class="picture" src="/src/public/img/right.png" height="500">
    </div>  
</div>